{:kotoba.app/id "cloud.itonami.isic-0146", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreibh4cl3ljx2bowg2eycqt3hbc2ca3nrrbmyhlvjmr7ci2nrzx7mmi", :kotoba.app/embed-url "ipfs://bafkreibh4cl3ljx2bowg2eycqt3hbc2ca3nrrbmyhlvjmr7ci2nrzx7mmi", :published {:archive "https://kotobase.net/ipfs/bafkreibh4cl3ljx2bowg2eycqt3hbc2ca3nrrbmyhlvjmr7ci2nrzx7mmi", :size 72348, :put-status 201, :get-status 200, :at "2026-08-15T13:41:40.447Z"}}
